<!--<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
  <a class="navbar-brand" href="#">Logo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#mission">Mission</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>

<div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
  <div id="home"><app-home></app-home></div>
  <div id="about"><app-about></app-about></div>
  <div id="mission"><app-mission></app-mission></div>
  <div id="contact"><app-contact></app-contact></div>
</div>
-->

<body>
  <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
      <div class="container">
          <a class="navbar-brand" href="#home"><img src="assets/iconers.png" width="50" height="50" class="d-inline-block align-middle"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                  <li class="nav-item"><a class="nav-link" href="#mission">Mission</a></li>
                  <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
              </ul>
          </div>
      </div>
  </nav>
</body>

  <div id="home"><app-home></app-home></div>
  <div id="about"><app-about></app-about></div>
  <div id="mission"><app-mission></app-mission></div>
  <div id="contact"><app-contact></app-contact></div>
